{% extends 'default.html' %}

{% block title %}Все новости — Daily News{% endblock %}
{% load news_filters %}
{% block content %}
<section class="all-news">
    <h1 style="margin: 40px 0;">Все свежие новости</h1>

    <form action="" method="get">
        {{ filterset.form.as_p }}
        <input type="submit" value="Найти">
    </form>

    <div class="news-grid">
        {% for post in post %}
        <article class="card">
            {% if post.image %}
                <img src="{{ post.image.url }}" alt="{{ post.title }}">
            {% else %}
                <img src="via.placeholder.com" alt="Нет фото">
            {% endif %}

            <div class="card-body">
                <span class="badge" style="background: #666; margin-bottom: 10px; display: inline-block;">
                    {{ post.category }}
                </span>
                <h3>{{ post.title|censor  }}</h3>
                <p>{{ post.text|censor|truncatewords:20 }}</p>
                <p><small>{{ post.data|date:"d.m.Y H:i" }}</small></p>
                <a href="{% url 'news:news_detail' post.pk %}">Читать далее</a>
            </div>
        </article>
        {% empty %}
            <p>Новостей пока нет.</p>
        {% endfor %}
    </div>

    {% if is_paginated %}
      <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; первая</a>
                <a href="?page={{ page_obj.previous_page_number }}">назад</a>
            {% endif %}

            <span class="current">
                Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">вперед</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">последняя &raquo;</a>
            {% endif %}
        </span>
      </div>
    {% endif %}

</section>
{% endblock %}